.topicos{
    background: var(--azul-degrade);
    font-family: var(--fonte-poppins);
    text-align: center;
    padding: 1em 0;
}
.topicos__titulo{
    color: var(--branco);
    font-size: 1em;
    font-weight: 300;
    margin: 0.5em 0;
    
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.topicos__item{
    margin: 2em 0.5em ;
}
.topicos__link{
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
@media screen and (min-width:1024px) {
    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__link{
        font-size: 24px;
    }
    .topicos__link:hover{
        background: var(--azul-degrade);
        border: solid 1px var(--branco)
    }
}
@media screen and (min-width:1728px) {
    .topicos{
        padding: 3em 25vw;
    }
    .topicos__titulo{
        font-size: 32px;
        padding-bottom: 1em;
        font-weight: 300;
    }
}